<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <script type="text/javascript" language="javascript" src="{% static "jquery-2.1.4.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "jquery.tablesorter.js" %}"></script>
    <script type="text/javascript" language="javascript" src="{% static "jquery.tablesorter.widgets.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/theme.blue.css" %}" type="text/css" id="" media="print, projection, screen" />
    <link rel="stylesheet" href="{% static "style.css" %}"/>

    <title>Notes |
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>

    {% if user.is_authenticated %}
        <div id="menu">
        <div id="left"><a href="{% url 'list note' %}" class="good">My Notes</a></div>
        <div id="right" style="color: #e5eef8">Welcome, <strong>{{ request.user.username }}</strong>.
            <a href="{% url 'logout' %}" class="good">Logout</a></div>
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>