{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="login-card">
    <h1>Please login or <a href="{% url 'registration' %}" style="font-weight: bold">sign up</a></h1><br>

    <form action="" method="post">
      {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field }}
            {{ field.errors }}
        {% endfor %}
      <input type="submit" id="login" class="button-submit" value="Login">
    </form>
    </div>
{% endblock %}