{% extends "base.html" %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <div class="login-card">
    <h1>Please sign up or <a href="{% url 'main' %}" style="font-weight: bold">login</a></h1><br>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {{ field }}
            {{ field.errors }}
        {% endfor %}
      <input type="submit" class="button-submit" value="Sign up">
    </form>
    </div>
{% endblock %}