{% extends "base.html" %}

{% block title %}
    {{ request.user.username }}
{% endblock %}

{% block content %}

    <div id="bar">
    <label id="l" style="color: #728fac">Действия:
        <select id="action_selected">
            <option value="0">Сделать избранной</option>
            <option value="1">Убрать избранность</option>
            <option value="2">Удалить</option>
            <option value="3">Опубликовать</option>
            <option value="4">Отменить публикацию</option>
        </select>
    </label>

        <input id="go" type="button" class="button-submit" value="Do it" onclick="note_actions()">

        <a href="{% url 'create note' %}" id="aa" class="good2">Add new note</a>

    </div>

    <table id="noteTable" class="tablesorter" border="0" cellpadding="2" cellspacing="2">
    <thead>
        <tr>
            <th><span class="check_column"></span></th>
            <th>Title</th>
            <th>Date</th>
            <th class="filter-select">Category</th>
            <th class="filter-select">Favorite</th>
        </tr>
    </thead>
    <tbody id="notebody">
        {% for note in note_list %}
            <tr id="note_{{ note.id }}">
                <td width="10px"><input type="checkbox" class = "chcktbl" /></td>
                <td>
                    <a href="{% url 'update note' note.id %}">{{ note.title }}</a>
                    {% if note.is_published %}
                        (<a href="{{ note.get_absolute_url }}" target="_blank" title="Прямая ссылка">View</a>)
                    {% endif %}
                </td>
                <td>{{ note.datetime|date:'d.m.Y'}} {{ note.datetime|time:'H:i' }}</td>
                <td>{{ note.category }}</td>
                <td>{{ note.is_favorite }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <script>

        //взято из документации Django
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //end

        function get_checked(){
            var result = [];
            var m = $('#noteTable tr').has(':checkbox:checked').get();
            jQuery.each(m, function(index, value){
                var temp = $("a",value).attr('href');
                result.push(temp.slice(13));
            });
            return {'data': result};
        }

        function note_actions() {
            var result = get_checked();
            if (result['data'].length === 0) return;
            var a = $('#action_selected').val();
            var sel = $("#noteTable");
            var u = "{% url 'make favorite' %}";
            switch(a) {
                case "0": u = "{% url 'make favorite' %}"; break;
                case "1": u = "{% url 'unmake favorite' %}"; break;
                case "2": u = "{% url 'delete note' %}"; break;
                case "3": u = "{% url 'publish note' %}"; break;
                case "4": u = "{% url 'unpublish note' %}"; break;
            }
            $.post(u, result, function(data) {
                $("#notebody").empty();
                $("#notebody").append($(data).find("#notebody").html());
                $("#noteTable").trigger("update");
            });
        }
    </script>

    <script>
        $(document).ready(function() {
            $("#noteTable").tablesorter({
                widgets: ['filter'],
                theme: 'blue',
                headers: {
                    '.check_column': {
                        sorter: false,
                        filter: false
                    }
                }
            });
        });
    </script>

{% endblock %}