{% extends "base.html" %}

{% block title %}
    {{ action }}
{% endblock %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        <div>
            <p>Title: {{ form.title }} Category: {{ form.category }} Favorite: {{ form.favorite }}</p>
            <p>{{ form.title.errors }}</p>
            <p>{{ form.content }}</p>
            <p><p>{{ form.content.errors }}</p></p>
            <input type="submit" class="button-submit" value="{{ action }}" style="width: 100%"/>
        </div>
    </form>
{% endblock %}