body {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: bold 110% serif;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12pt;
  background: #eaf2fa;
}

.login-card {
  padding: 25px;
  width: 274px;
  background: #99bfe6;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-card h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1.4em;
  color: white;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.button-submit {
  text-align: center;
  font-size: 14px;
  font-family: 'Helvetica', serif;
  font-weight: 700;
  height: 26px;
  padding: 0 8px;
  border: 0px;
  color: white;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #728fac;
}

.button-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #4c5f73;
  cursor: pointer;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

#menu {
  height: 50px;
  background:#99bfe6;
  border: 100px;
}

#menu #right{
  float:right;
  width:190px;
  text-align:center;
  padding: 16px 9px;
}

#menu #left{
  float:left;
  width:100px;
  position: absolute;
  text-align:center;
  padding: 16px 2px;
}

#bar {
  height:30px;
  margin: 9px;
}

#bar #l {
  float: left;
  text-align:center;
  padding-right: 10px;
  margin: 7px;
  font-size: 11pt;
}

#bar #go {
  margin: 3px;
}

#bar #aa {
  float: right;
  margin: 7px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.good {
  color: white;
}

a.good:hover{
  color: #e5eef8;
  text-decoration: none;
}

a.good2{
  color: #728fac;
  text-decoration: underline;
}

a.good2:hover{
  color: #4c5f73;
  text-decoration: none;
}

.tablesorter thead .disabled {
  display: none
}

textarea {
  resize: none;
  width: 99.5%;
  height: 300px;
  background-color: white;
}


table {
  font-weight: normal;
  font-size: 10pt;
}

p {
  font-size: 11pt;
  color: #728fac;
}